<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="navbar navbar-expand-md fixed-top" style="background-color: #000">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: whitesmoke">Электронная система учета инженерной документации</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-link">
                        <a class="nav-link" aria-current="page" href="/projects/list">Проекты</a>
                    </li>
<!--                    <li class="nav-link">-->
<!--                        <a class="nav-link" aria-current="page" href="/documents/list">Документы</a>-->
<!--                    </li>-->
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))" class="nav-link">
                        <a class="nav-link" aria-current="page" href="/users/list">Пользователи</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))" class="nav-link">
                    <a class="nav-link" aria-current="page" href="/departments/list">Подразделения</a>
                    </li>
                </ul>
                <form class="d-flex" sec:authorize="isAuthenticated()">
                    <span style="color: whitesmoke" th:text="${#authentication.getPrincipal().getUsername()} "></span>
                </form>
                <div sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                    <a class="nav-link" style="float: right" th:href="'/users/profile/' + ${#authentication.getPrincipal().getUserId()}">Профиль</a>
                </div>
                <form class="d-flex" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="btn btn-primary" role="button" aria-disabled="true">Вход</a>
                </form>
                <form class="d-flex" sec:authorize="isAuthenticated()">
                    <a href="/logout" class="btn btn-primary" role="button" aria-disabled="true">Выход</a>
                </form>
            </div>
        </div>
    </nav>
</div>
