<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Все подразделения</title>
</head>
<body>
<div layout:fragment="content">

    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все подразделения предприятия</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                   href="/departments/add"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить подразделение</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Номер подразделения</th>
                    <th scope="col">Название подразделения</th>
<!--                    <th scope="col" class="col-md-5">Работники подразделения</th>-->
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="department : ${departments}">
                    <td>
                        <a th:text="${department.getNumberDepartment()}"></a>
                    </td>
                    <td th:text="${department.getNameDepartment()}"></td>
<!--                    <td>-->
<!--                        <div class="mt-3 row g-2">-->
<!--                            <div class="col-md">-->
<!--                                <div class="form-floating">-->
<!--                                    <select class="form-select" name="id" id="id" required>-->
<!--                                        <option selected th:value="${null}">Сотрудники отдела</option>-->
<!--                                        <option-->
<!--                                                th:each="user : ${department.getUsers()}"-->
<!--                                                th:value="user :{department.getUsers()}"-->
<!--                                                th:text="${user.getFirstName()} + ${user.getSecondName()}">-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>
                        <div sec:authorize="isAuthenticated() && hasRole('ADMIN')">
                            <a th:if="${!department.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/departments/delete/' + ${department.getId()}"
                               onclick="return confirm('Вы действительно хотите удалить подразделение?');">Удалить</a>
                            <a th:if="${department.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/departments/restore/' + ${department.getId()}">Восстановить</a>
                            <a class="btn btn-sm btn-outline-success" th:href="'/departments/update/' + ${department.getId()}">Обновить</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--Модальное окно для ошибок старт-->
        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Модальное окно для ошибок конец-->
    </div>
</div>
</body>
</html>