.not-enough-book {
    color: red;
}

.nav-link {
    color: whitesmoke !important;
}

.btn-primary {
    color: white !important;
    background-color: #3c63b8 !important;
    border-color: #3c63b8 !important;
}

.btn-primary:hover {
    background-color: #44b83c !important;
    border-color: #b84f3c !important;
    color: white !important;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    color: #44b83c;
}

.hr {
    border: 1px solid;
    color: #44b83c;
}