<!--Страница регистрации-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация</title>
</head>
<body>
<div layout:fragment="content">
    <!--        Форма регистрации-->
    <!--        action="/registration" - url на который будут отправлены данные-->
    <!--        object="userForm" - имя объекта в котором будут хранится данные (нужно чтобы потом в контроллере их распарсить)-->
    <h3 class="mt-3 mb-3">Регистрация нового пользователя</h3>
    <form method="POST" class="needs-validation" novalidate style="max-width: 50vw" th:action="@{/users/registration}" th:object="${userForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="login" type="text" class="form-control" id="login" placeholder="Введите логин" required>
                    <label for="login">Логин</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('login')}">
                        <p th:errors="*{login}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="password" placeholder="Введите пароль" required>
                    <label for="password">Пароль</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="firstName" type="text" class="form-control" id="firstName" placeholder="Введите имя" required>
                    <label for="firstName">Имя</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Введите фамилию" required>
                    <label for="lastName">Фамилия</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="middleName" type="text" class="form-control" id="middleName" placeholder="Введите отчество">
                    <label for="middleName">Отчество</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="email" type="email" class="form-control" id="email" placeholder="Введите email" required>
                    <label for="email">Email</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">
                        <p th:errors="*{email}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="phone" type="text" class="form-control" id="phone" placeholder="Введите телефон">
                    <label for="phone">Телефон</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="birthDate" type="date" class="form-control" id="birthDate" placeholder="Введите дату рождения" required>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
<!--                    <textarea name="departmentsId" type="text" class="form-control" id="departmentsId" placeholder="Подразделение"></textarea>-->
                    <select class="form-select" name="departmentId" id="departmentId" required>
                        <option selected th:value="${null}">Выбрать подразделение</option>
                        <option
                                th:each="department : ${departments}"
                                th:value="${department.getId()}"
                                th:text="${department.getNameDepartment()}">
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Зарегистрироваться</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>

</body>
</html>