<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить изменение к документ</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Добавить изменение к документ ' + ${document}"></h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/documentVersions/add}" th:object="${documentVersionsForm}">
        <input type="hidden" name="documentId" th:value="${documentId}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="documentVersionNumber" type="text" class="form-control" id="documentVersionNumber" placeholder="Номер изменения" required>
                    <label for="documentVersionNumber">Номер изменения</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="description" type="text" class="form-control" id="description" placeholder="Примечание" required>
                    <label for="description">Примечание</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>

        <div class="mt-3 form-floating">
            <input name="file" type="file" class="form-control form-control-sm" id="onlineCopyPath" placeholder="Подкрепите файл изменения" style="padding-top: 2rem;">
            <label for="onlineCopyPath">Файл изменения</label>
        </div>

        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>