<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр версии документа</title>
    <script th:inline="javascript">
        let flag = [[${exception}]];//переменная-флаг в thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Информация о версии документе: ' + ${documentVersions.getDocumentVersionNumber()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="documentNumber" class="col-sm-2 col-form-label no-border">Обозначение:</label>
                <div class="col-sm-10">
                    <p th:text="${documentVersions.getDocumentVersionNumber()}" type="text" readonly class="form-control-plaintext" id="documentNumber">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label no-border">Наименование:</label>
                <div class="col-sm-10">
                    <p th:text="${documentVersions.getDescription()}" type="text" readonly class="form-control-plaintext" id="description">
                </div>
            </div>

<!--            <div class="mb-2 row">-->
<!--                <label class="col-sm-2 col-form-label">Онлайн копия:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <a class="text-link text-blue" th:if="${book.getOnlineCopyPath()} != null" th:href="@{|/books/download?bookId=${book.id}|}">-->
<!--                        <span>Скачать книгу</span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            -->
<!--        <form class="row g-1">-->
<!--            <h4 class="mt-3 mb-3" th:text="'Информация об авторе(ах)'"></h4>-->
<!--            <div th:each="author : ${book.getAuthors()}">-->
<!--                <div class="mb-2 row">-->
<!--                    <label for="fio" class="col-sm-2 col-form-label">ФИО:</label>-->
<!--                    <div class="col-sm-10">-->
<!--                        <a class="text-link text-blue" th:href="'/authors/' + ${author.getId()}" th:text="${author.getAuthorFio()}" id="fio"></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mb-2 row">-->
<!--                    <label for="date_birth" class="col-sm-2 col-form-label">Дата рождения:</label>-->
<!--                    <div class="col-sm-10">-->
<!--                        <p th:text="${author.getBirthDate()}" class="form-control-plaintext" id="date_birth">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mb-2 row">-->
<!--                    <label for="desc_author" class="col-sm-2 col-form-label">Описание:</label>-->
<!--                    <div class="col-sm-10">-->
<!--                        <p th:text="${author.getDescription()}" class="form-control-plaintext" id="desc_author">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
        <hr class="hr"/>
        <div class="mt-2">
<!--            <a th:if="${book.getAmount() > 0}" sec:authorize="!hasRole('ADMIN')" class="btn btn-primary"-->
<!--               th:href="'/publish/get-book/' + ${book.id}">Арендовать книгу</a>-->
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </div>
</form>
</body>
</html>
