<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Изменить документ</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Изменить документ ' + ${document.getDocumentTitle()}"></h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/documents/update}" th:object="${documentForm}">
        <input type="hidden" name="id"
               th:value="${document.getId()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="documentNumber" type="text" class="form-control" id="documentNumber" placeholder="Обозначение" required>
                    <label for="documentNumber">Обозначение</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
            <div class="col-md">
                <div class="form-floating">
                    <div class="col-md">
                        <div class="form-floating">
                            <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                            <input name="documentTitle" th:value="${document.getDocumentTitle()}" type="text" class="form-control" id="documentTitle" placeholder="Наименование" required>
                            <label for="documentTitle">Наименование</label>
                            <div class="invalid-feedback">Обязательное поле для заполнения</div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" name="documentType" id="documentType" required th:object="${document}" th:field="*{documentType}">
                                <option selected value="default">Выберете тип документа из списка</option>
                                <option th:each="documentType : ${T(com.termpaper.techdrawflow.j13termpapertdf.project.model.DocumentType).values()}"
                                        th:value="${documentType}" th:text="${documentType.getDocumentType()}"></option>
                            </select>
                            <label for="documentType">Тип документа</label>
                            <div class="invalid-feedback">Обязательное поле для заполнения</div>
                        </div>
                    </div>
                    <div class="mt-3 row g-2">
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Обновить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>
