<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр документа</title>
</head>
<body>
<form layout:fragment="content">

    <div>
        <h3 th:text="'Информация о документе: ' + ${document.getDocumentNumber()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="documentNumber" class="col-sm-2 col-form-label no-border">Обозначение:</label>
                <div class="col-sm-10">
                    <p th:text="${document.getDocumentNumber()}" type="text" readonly class="form-control-plaintext" id="documentNumber">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="documentTitle" class="col-sm-2 col-form-label no-border">Наименование:</label>
                <div class="col-sm-10">
                    <p th:text="${document.getDocumentTitle()}" type="text" readonly class="form-control-plaintext" id="documentTitle">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="documentType" class="col-sm-2 col-form-label">Тип документа:</label>
                <div class="col-sm-10">
                    <p th:text="${document.getDocumentType().getDocumentType()}" class="form-control-plaintext" id="documentType">
                </div>
            </div>
<!--            <div class="mb-2 row">-->
<!--                <label for="userId" class="col-sm-2 col-form-label">Владелец документа:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <p th:text="${document.getUserId()}" class="form-control-plaintext" id="userId">-->
<!--                </div>-->
<!--            </div>-->
        </form>

        <div class="mt-2">
            <a sec:authorize="isAuthenticated()"
               th:href="'/documentVersions/add/' + ${document.getId()}"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить изменение к документу</a>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
        <hr class="hr"/>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Номер изменения</th>
                    <th scope="col">Исполнитель</th>
                    <th scope="col">Примечание</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="documentVersion : ${document.getDocumentVersions()}">
                    <td>
                        <a class="text-link text-blue" th:href="'/documentVersions/' + ${documentVersion.getId()}" th:text="${documentVersion.getDocumentVersionNumber()}"></a>
                    </td>
                    <td th:text="${documentVersion.getDocumentVersionOwner()}"></td>
                    <td th:text="${documentVersion.getDescription()}"></td>
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN'))">
                            <a th:if="${!documentVersion.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/documentVersions/delete/' + ${documentVersion.getId()}"
                               onclick="return confirm('Вы действительно хотите удалить изменение?');">Удалить</a>
                            <a th:if="${documentVersion.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/documentVersions/restore/' + ${documentVersion.getId()}">Восстановить</a>
                        </div>
                    </td>
                    <td>
                        <div sec:authorize="isAuthenticated()">
                            <a class="text-link text-blue" th:if="${documentVersion.getOnlineCopyPath()} != null" th:href="@{|/documentVersions/download?documentVersionId=${documentVersion.id}|}">
                                <span>Скачать документ</span>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="hr"/>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
</form>
</body>
</html>
