<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Все документы<</title>
</head>
<body>
<div layout:fragment="content">
<!--    <div>-->
<!--        <hr class="hr"/>-->
<!--        <h3>Поиск документа</h3>-->
<!--        <form method="POST" th:action="@{/documents/search}" th:object="${documentSearchForm}">-->
<!--            <div class="mt-0 row g-2">-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <input name="documentNumber" type="text" class="form-control" id="documentNumber" placeholder="Название Документа">-->
<!--                        <label for="documentNumber">Название Документа</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <input name="documentTitle" type="text" class="form-control" id="documentTitle" placeholder="Наименование">-->
<!--                        <label for="documentTitle">Наименование</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <select class="form-select" name="documentType" id="documentType">-->
<!--                            <option selected th:value="null">Тип документа</option>-->
<!--                            <option th:each="documentType : ${T(com.termpaper.techdrawflow.j13termpapertdf.project.model.DocumentType).values()}"-->
<!--                                    th:value="${documentType}" th:text="${documentType.getDocumentType()}"></option>-->
<!--                        </select>-->
<!--                        <label for="documentType">Тип документа</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row g-2">-->
<!--                    <button type="submit" class="btn btn-secondary">Найти документ</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))"
                   href="documents/add"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить документ</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Обозначение документа</th>
                    <th scope="col">Наименование документа</th>
                    <th scope="col">Тип документа</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="document : ${documents}">
                    <td>
                        <a class="text-link text-blue" th:href="'/documents/' + ${document.getId()}" th:text="${document.getDocumentNumber()}"></a>
                    </td>
                    <td th:text="${document.getDocumentTitle()}"></td>
                    <td th:text="${document.getDocumentType().getDocumentType()}"></td>
<!--                    <td>-->
<!--                        <a class="text-link text-blue" th:if="${book.getOnlineCopyPath()} != null" th:href="@{|/books/download?bookId=${book.id}|}">-->
<!--                            <span>Скачать книгу</span>-->
<!--                        </a>-->
<!--                    </td>-->
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">
                            <a class="btn btn-sm btn-outline-success" th:href="'/documents/update/' + ${document.id}">Обновить</a>
                            <a class="btn btn-sm btn-outline-danger" th:href="'/documents/delete/' + ${document.id}">Удалить</a>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <nav aria-label="Pagination" th:if="${documents.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${documents.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/documents?page={id}(id=${documents.number lt 2 ? 1 : documents.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq documents.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, documents.totalPages, 1)}">
                        <a class="page-link" th:href="@{/documents?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${documents.number eq documents.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/documents?page={id}(id=${documents.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>