<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Структура проекта</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Информация о проекте: ' + ${project.getProjectName()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="projectName" class="col-sm-2 col-form-label no-border">Название:</label>
                <div class="col-sm-10">
                    <p th:text="${project.getProjectName()}" type="text" readonly class="form-control-plaintext" id="projectName">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label">Описание:</label>
                <div class="col-sm-10">
                    <p th:text="${project.getDescription()}" class="form-control-plaintext" id="description">
                </div>
            </div>
        </form>

        <div class="mt-2">
            <a sec:authorize="isAuthenticated()"
               th:href="'/documents/add/' + ${project.getId()}"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить документ к проекту</a>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>

        <hr class="hr"/>
        <div>
            <h3>Поиск документа</h3>
            <form method="POST" th:action="'/projects/' + ${project.getId()} + '/search'" th:object="${documentSearchForm}">
                <div class="mt-0 row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="documentNumber" type="text" class="form-control" id="documentNumber" placeholder="Название Документа">
                            <label for="documentNumber">Название Документа</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="documentTitle" type="text" class="form-control" id="documentTitle" placeholder="Наименование">
                            <label for="documentTitle">Наименование</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" name="documentType" id="documentType">
                                <option selected th:value="null">Тип документа</option>
                                <option th:each="documentType : ${T(com.termpaper.techdrawflow.j13termpapertdf.project.model.DocumentType).values()}"
                                        th:value="${documentType}" th:text="${documentType.getDocumentType()}"></option>
                            </select>
                            <label for="documentType">Тип документа</label>
                        </div>
                    </div>
                    <div class="row g-2">
                        <button type="submit" class="btn btn-secondary">Найти документ</button>
                    </div>
                </div>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Обозначение документа</th>
                        <th scope="col">Наименование документа</th>
                        <th scope="col">Тип документа</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="document : ${project.getDocuments()}">
                        <td>
                            <a class="text-link text-blue" th:href="'/documents/' + ${document.getId()}" th:text="${document.getDocumentNumber()}"></a>
                        </td>
                        <td th:text="${document.getDocumentTitle()}"></td>
                        <td th:text="${document.getDocumentType().getDocumentType()}"></td>
                        <td>
                            <div sec:authorize="isAuthenticated() && (hasRole('ADMIN'))">
                                <a class="btn btn-sm btn-outline-danger" th:href="'/documents/delete/' + ${document.getId()}"
                                   onclick="return confirm('Вы действительно хотите удалить документ?');">Удалить</a>
                                <a class="btn btn-sm btn-outline-success" th:href="'/documents/update/' + ${document.getId()}">Изменить</a>
                                <a th:if="${document.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/documents/restore/' + ${document.getId()}">Восстановить</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>


        </div>
        <hr class="hr"/>
    </div>

<!--    <div>-->
<!--        <nav aria-label="Pagination" th:if="${project.getDocuments().totalPages gt 0}">-->
<!--            <ul class="pagination justify-content-center font-weight-bold">-->
<!--                <li class="page-item" th:classappend="${project.getDocuments().number eq 0} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/project.getDocuments()?page={id}(id=${project.getDocuments().number lt 2 ? 1 : project.getDocuments().number})}"-->
<!--                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:classappend="${i eq project.getDocuments().number + 1} ? 'active'"-->
<!--                    th:each="i : ${#numbers.sequence( 1, project.getDocuments().totalPages, 1)}">-->
<!--                    <a class="page-link" th:href="@{/project.getDocuments()?page={id}(id=${i})}" th:text="${i}"-->
<!--                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
<!--                </li>-->
<!--                <li class="page-item" th:classappend="${project.getDocuments().number eq project.getDocuments().totalPages - 1} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/project.getDocuments()?page={id}(id=${project.getDocuments().number + 2})}"-->
<!--                       aria-label="Next" title="Next Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->

</form>
</body>
</html>
