<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Изделия</title>
    <script th:inline="javascript">
        let flag = [[${exception}]];//переменная-флаг в thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск проекта</h3>
        <form method="POST" th:action="@{/projects/search}" th:object="${projectSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="projectName" type="text" class="form-control" id="projectName" placeholder="Название проекта">
                        <label for="projectName">Название проекта</label>
                    </div>
                </div>

                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти проект</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>

                <h2>Все проекты </h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))"
                   href="/projects/add"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить проект</a>
            </div>

        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}">
                    <td>
                        <a class="text-link text-blue" th:href="'/projects/' + ${project.getId()}" th:text="${project.getProjectName()}"></a>
                    </td>
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN'))">
                            <a th:if="${!project.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/projects/delete/' + ${project.getId()}"
                               onclick="return confirm('Вы действительно хотите удалить проект?');">Удалить</a>
                            <a th:if="${project.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/projects/restore/' + ${project.getId()}">Восстановить</a>
                            <a class="btn btn-sm btn-outline-success" th:href="'/projects/update/' + ${project.getId()}">Обновить</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</div>
</body>
</html>